<div class="center-container">
    <div class="filter-container">
      <mat-form-field>
        <mat-label>Choose Category</mat-label>
        <mat-select #categorySelect (selectionChange)="onCategorySelectionChange($event)" style="width: 200px;">
          <mat-select-trigger>
            <span *ngIf="selectedCategory; else defaultOption">{{ selectedCategory.name }}</span>
            <ng-template #defaultOption>--</ng-template>
          </mat-select-trigger>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-container">
      <mat-form-field>
        <input matInput type="text" placeholder="enter name of course" [(ngModel)]="courseName" (input)="filter()" style="width: 200px;" />
      </mat-form-field>
    </div>
    <div class="filter-container">
      <mat-radio-group (change)="onSelectionChange($event)">
        <mat-radio-button [value]="1">Frontal</mat-radio-button>
        <mat-radio-button [value]="2">Digital</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  
<div class="cards">
<mat-card class="example-card" *ngFor="let course of filteredCourses" >
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{course?.name}}</mat-card-title>
        <mat-card-subtitle>{{categories[course?.categoryId]?.name}}
            <mat-icon>{{categories[course?.categoryId]?.iconRouting}}</mat-icon>
            <mat-icon>{{course.learningType|icon }}</mat-icon>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{course?.image}}>
    <p [ngClass]="getCssClass(this.course)">
        {{ course.beginDate }}
      </p>
    <mat-card-actions>
        <mat-icon>arrow_forward</mat-icon>
        <button mat-button (click)="showDetailes(course)" >More Detailes</button>
        <mat-icon>edit</mat-icon>
        <button mat-button (click)="editCourse(course)" [disabled]="!this.user.isLecturer">Edit</button>
        <!-- <mat-icon>delete</mat-icon> -->
        <!-- <button mat-button (click)="deleteCourse(course.id)" >Delete</button> -->
    </mat-card-actions>
</mat-card>
</div>