<div class="cards">
<mat-card class="example-card" *ngFor="let course of courses" >
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{course?.name}}</mat-card-title>
        <mat-card-subtitle>{{categories[course?.categoryId]?.name}}
            <mat-icon>{{categories[course?.categoryId]?.iconRouting}}</mat-icon>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{course?.image}} alt="Photo of a camera">
    <p [ngClass]="getCssClass(this.course)">
        {{ course?.beginDate }}
      </p>
    <mat-card-actions>
        <mat-icon>arrow_forward</mat-icon>
        <button mat-button (click)="showDetailes(course)" >More Detailes</button>
        <mat-icon>edit</mat-icon>
        <button mat-button (click)="editCourse(course)" [disabled]="!this.user.isLecturer">Edit</button>
        <!-- <mat-icon>delete</mat-icon> -->
        <!-- <button mat-button (click)="deleteCourse(course.id)" >Delete</button> -->
    </mat-card-actions>
</mat-card>
</div>