<form *ngIf="this.registerForm" [formGroup]="registerForm" class="center-form ">
    <div class="example-container">
        <!-- <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" placeholder="user name" formControlName="userName">
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" placeholder="user name" formControlName="userName">
            <ng-container *ngIf="registerForm.controls['userName'].hasError('userExistError')">
                <mat-error >This username already exists. Please choose a different one.</mat-error>
            </ng-container>
        </mat-form-field>

        <ng-container *ngIf="registerForm.controls['userName'].errors && registerForm.controls['userName'].touched">
            <div *ngIf="!registerForm.controls['userName'].errors['required'] && !registerForm.controls['userName'].errors['minLength']"
                style="color: red;">
                You must enter at least 3 characters
            </div>
            <div *ngIf="registerForm.controls['userName'].errors['required']" style="color: red;">
                This field is required
            </div>
        </ng-container>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide"
                [disabled]="registerForm.controls['password'].errors" [attr.aria-label]="'הסתר סיסמה'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <ng-container *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched">
            <div *ngIf="!registerForm.controls['password'].errors['required'] && !registerForm.controls['password'].errors['minLength']"
                style="color: red;">
                You must enter at least 3 characters
            </div>
            <div *ngIf="registerForm.controls['password'].errors['required']" style="color: red;">
                This field is required
            </div>
        </ng-container>
        <br>
        <mat-form-field>
            <mat-label>User Address</mat-label>
            <input matInput type="text" placeholder="address" formControlName="address">
        </mat-form-field>
        <ng-container *ngIf="registerForm.controls['address'].errors && registerForm.controls['address'].touched">
            <div *ngIf="registerForm.controls['address'].errors['required']" style="color: red;">
                This field is required
            </div>
        </ng-container>
        <br>
        <mat-form-field>
            <mat-label>User Email</mat-label>
            <input matInput type="email" placeholder="email" formControlName="email">
        </mat-form-field>
        <ng-container *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
            <div *ngIf="!registerForm.controls['email'].errors['required']&& registerForm.controls['email'].errors['email']"
                style="color: red;">
                The email address is invalid
            </div>
            <div *ngIf="registerForm.controls['email'].errors['required']" style="color: red;">
                This field is required
            </div>
        </ng-container>
        <br>
        <mat-form-field *ngIf="isLecturer">
            <mat-label>Course</mat-label>
            <input matInput type="text" formControlName="course">
            <ng-container *ngIf="registerForm.controls['course'].errors && registerForm.controls['course'].touched">
                <div *ngIf="registerForm.controls['course'].errors['required']" style="color: red;">
                    This field is required
                </div>
            </ng-container>
        </mat-form-field>
    </div>
    <br />
    <button mat-fab extended type="submit" (click)="registerUser()" [disabled]="!registerForm.valid">
        <mat-icon>login</mat-icon>
        Login
    </button>
    <a class="custom-link" (click)="lecturer()">To enter as a lecturer
    </a>
</form>