.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 100px;
    // margin-left: 550px;
    background-color: white;
    width: max-content;
    height: max-content;
}